* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #965cb8;
  min-height: 100%;
  line-height: normal;
}

.cuerpo {
  min-height: 25em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #663985;
  padding: 1.5em;
  min-width: 100%;
  margin-top: 0%;
  align-items: center;
}
a {
  color: white;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black; 
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color:#a286eb;
  background-color: transparent;
  text-decoration: underline;
}

.menu {
  gap: 1em; align-items: center;
} 

.imagenheader {
  background: url("https://cdn.pixabay.com/photo/2015/07/10/16/05/purple-flowers-839594_1280.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario input {
  padding: 1em;
  width: fit-content;
  margin: 0.5em;
}

p {
  margin: 1em;
}

.boton {
  background-color: #8946A6;
  border: none;
  color: white;
  padding: 1em 2em;
  width: 15em;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
}

.iconocorazon {
  display: flex;
}

.buscador {
  width: 20em;
  padding: 1em;
}

.botonlike {
  width: 1.5em;
  align-items: center;
}

.footer {
  background-color: #663985;
  padding: 1em;
  color: white;
  min-width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.green {
  background-color: #8946A6;
}

.botonguardar:disabled {
  display: none;
}

.contenedorcard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 20em;
  margin: 3em;
  padding: 1em;
  border-radius: 5%;
  background-color: #aa7fc7;
  text-align: center;
}

.imagencard {
  max-width: 15em;
  border-radius: 5%;
}

.botonguardar {
  background-color: #663985;
}