:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: #a286eb;
    min-height: 100%;
}

.navbar {display: flex; justify-content: space-between; background-color: #6643bf; padding: 1.5em;}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #a286eb;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #64a64c;
  background-color: transparent;
  text-decoration: underline;
}

.menu {gap: 1em;}

.imagenheader {
  background: url("https://p4.wallpaperbetter.com/wallpaper/506/48/29/forest-cool-pc-wallpaper-preview.jpg") no-repeat center;
  min-height: 60vh;
  background-size: cover;
  background-position: ;
}

h1{color: white;}

.formulario {
  display: flex; flex-direction: column;
  align-items: center;
}

.boton{
  background-color: #64a64c;
  border: none;
  color: white;
  padding: 1em 2em;
  width: 15em;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.botonformulario {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 30em;
  margin: 3em;
  padding: 1em;
  border-radius: 5%;
  background-color: #a8f08d;
}

.imagencard {
  width: 30em;
  border-radius: 5%;
}

.iconocorazon {display: flex;}

.footer {background-color: #6643bf; padding: 1em; color:white;}

.green {background-color: #64a64c;}


